.main{
    justify-items: center;

}
.form{
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 320px;
    border: 1px solid gray;
    align-items: center;
    margin: auto;
    margin-top: 40px;
    background-color: white;
    border-radius: 1px;
}
.h5{
    margin:5%;
    margin-bottom: 1%;
    color: grey;
}
.img2{
    margin: 1px;
    margin-bottom: 335px;
}
.input6{
    padding-left: 19%;
    margin: auto;
margin-bottom: 40px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}

/*.login-box {
    background: white;
    padding: 100px;
    padding-top: 60px;
    margin: 20%;
    width: 318px;
    height: 350px;
    text-align: center;
    border-radius: 1px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    align-content: center;
}*/

form {
    display: flex;
    flex-direction: column;
    
}
.avatar{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1px;
    padding-top: 67px;

}
img{
    width: 380px;
}


input {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.debbie{
        background-color: whitesmoke;
        height: 28PX;
        width: 40PX;
        cursor: pointer;
        margin-left: 77px;
}
.login-box2{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 66px;
    margin-top: 10px;
    
    border: 2px solid rgb(236, 231, 231);
}
.kk{
    display: flex;
    align-items: center;
    justify-content: center;
}
footer {
    background-color: #266081; /* Dark background */
    color: white; /* White text */
    text-align: center; /* Centered text */
    padding: 10px;
    position:sticky; /* Fixed at the bottom */
    bottom: 0;
    width: 70%;
}
footer {
    background-color: #266081; /* Dark background */
    color: white; /* White text */
    text-align: center; /* Centered text */
    padding: 10px;
    position:sticky; /* Fixed at the bottom */
    bottom: 0;
    width: 70%;
}